.parentCard{
    /* display: flex; */
    /* flex-direction: row; */

    border-radius: 5px;
    margin:20px 130px;
    padding-top: 20px ;
    background-color: rgb(240, 252, 255);
    padding: 10px;
}

.cardItems{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:20px ;
}
.main-container{
    display: flex; 
    /* flex-direction: row; */
}
@media only screen and (max-width: 600px) {
    .parentCard {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0px;
        flex-direction: column;
    }
    .main-container{
        display: flex; 
        flex-direction: row;
    }
  }