.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .inviteButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 5px;
  }
  
  .inviteButton:hover {
    background-color: #45a049;
  }
  
  .closeButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .closeButton:hover {
    background-color: #d32f2f;
  }
  