.navbarBrand{
    height: 46px;
    width: 46px;
}
.navbar{
    padding: 0px; margin: 0px 130px;
}
nav{
    padding: 0px;
    margin: 0px 130px;

}
.container-fluid{
    height: 47px; padding: 0px;
}
@media only screen and (max-width: 600px) {
    .navbar{
        padding: 0px; margin: 0px;
    }
    .container-fluid{
        height: 47px;
        padding: 0px;
        margin: 0px;
    }
    nav{
        padding: 0px;
        margin: 0px 0px;
        padding: 0px;
    
    }
    .container-fluid{
        height: 40px;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .navbar-item{
        display: none;

    }
  }
